@font-face {
  font-family: Roboto;
  src: url('Roboto.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #cbcbcb;
}

body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
}

.header,
.footer {
  display: flex;
  height: 55px;
  color: white;
  background: #0067a3;
  align-items: center;
  justify-content: space-between;
}

.head {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
}

.logo {
  margin: auto 14px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  stroke: currentColor;
  stroke-width: 6;
  fill-opacity: 0;
  padding: 8px;
}

.logo_name {
  font-size: 28px;
  padding: 0px 8px;
}

.add_list {
  display: flex;
  margin: 11px 50px;
  height: calc(100% - 22px);
  border: none;
  outline: none;
  border-radius: 5px;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.add_list:hover {
  box-shadow: 0 0 2px 2px black;
}

.add_list:active {
  transform: scale(0.98);
}

.add_list svg {
  margin: auto 5px auto 10px;
}

.add_list div {
  margin: auto 10px auto 5px;
}

.user_menu {
  position: relative;
  display: flex;
  height: 100%;
  width: 64px;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
}

.arrow {
  transition: all 0.5s linear 0s;
}

.arrow.active {
  transform: rotateX(180deg);
}

.dropDownMenu {
  position: absolute;
  top: 60px;
  right: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background: #ebecf0;
  z-index: 1;
}

.dropDownMenu::before,
.dropDownMenu::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 18px;
}

.dropDownMenu::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ebecf0;
  top: -8px;
  right: 20px;
}

.account,
.tasks,
.logOut {
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
}

.dropMenuHr {
  border: 1px solid black;
}

.account:hover,
.tasks:hover,
.logOut:hover {
  background-color: white;
}

.footer {
  padding: 0 24px;
}

.tasks_number {
  display: flex;
  justify-content: flex-start;
}

.tasks_number div:first-child {
  margin: auto 36px auto 43px;
}
